@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body
{
    margin: 0px 0px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    width: 100vh;
    height: 100vh;
    background: linear-gradient(45deg, #00c6fb, #005bea);
    overflow-x: hidden;
}
:active, :hover, :focus 
{
    outline: 0;
    outline-offset: 0;
}
.button
{
    visibility: hidden;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:40%;
    top:200px;
    width:50px;
    height: 50px;
    background: #fff;
    cursor: pointer;
    user-select: none;
    border-radius: 100px;
    color:#fff;
    font-size: 16px;
    transition: 0.35s all;
}

.output , .otpt
{
    text-align: center;
    position: relative;
    
    margin:auto;
    width:auto;
    height: auto;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
}
.otpt
{
    font-size: 50px;
}
.timer
{
    text-align: center;
    position: relative;
    margin:auto;
    width:auto;
    height: auto;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
}
/*rgb(84, 130, 230)*/
.field
{
    display: none;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top:88%;
    height: 12vh;
    width:100%;
}
.score
{
    display: none;
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.70);
    z-index: 10;
}
.score__result__area
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin:auto;
    top:35%;
    width:auto;
    height: auto;
}
.btn__again
{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width:150px;
    height: 40px;
    color:#fff;
    background-color:rgb(84, 130, 230); 
    cursor: pointer;
    border-radius: 5px;
}
.main
{
    display: block;
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.70);
    z-index: 10;
}
.main__prewiew__block
{
    flex-direction: column  ;
    display: flex;
    justify-content: center;
    position: relative;
    top:40%;
    margin:auto;
    width:70%;
    height: 100px;
}
.main__prewiew
{
    text-align: center;
    position: relative;
    margin:auto;
    width:auto;
    height: auto;
    font-size: 70px;
    font-weight: 900;
    color: rgb(84, 130, 230);
}
.main__disc
{
    text-align: center;
    position: relative;
    top:20px;
    margin:auto;
    width:auto;
    height: auto;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
.main__btn
{
    align-self: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width:150px;
    padding: 10px;
    color:#fff;
    background-color:rgb(84, 130, 230); 
    cursor: pointer;
    border-radius: 5px;
}
.choice
{
    display: flex;
    position: relative;
    margin:auto;
    top:500px;
    max-width: 400px;
    height: 80px;
}
.choice__col
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:30px;
    justify-content:space-around;
    width:100%;
    height: 100%;
}
.choice__row
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.choice__row__color
{
    width:50px;
    height: 50px;
    border-radius: 100px;
    opacity: .85;
    cursor: pointer;
}
.choice__row__color:active
{
    transform: scale(1.1);
}
.green
{
    background: #b1f55d ;
}
.orange
{
    background:#f5745d;
}
.purple
{
    background: #ae5df5;
}
.red
{
    background: #fc5858;
}








@media(max-width:1400px)
{
    .otpt
    {
        font-size: 40px;
    }
}
@media(max-width:1100px)
{
    .main__prewiew
    {
        font-size: 60px;
    }
    .main__disc
    {
        font-size: 16px;
    }
}
@media(max-width:600px)
{
    .main__prewiew__block
    {
        width:auto;
    }
}
@media(max-width:550px)
{
    .field
    {
        top:90%;
        height: 10vh;
    }
    .output
    {
        font-size: 25px;
    }
    .timer
    {
        font-size: 25px;
    }
}
@media(max-width:420px)
{
    .main__prewiew
    {
        font-size:45px;
    }
    .main__disc
    {
        font-size: 14px;
    }
}