@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body
{
    margin: 0px 0px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
}
.button
{
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:40%;
    top:200px;
    width:50px;
    height: 50px;
    background-color: rgb(84, 130, 230);
    cursor: pointer;
    user-select: none;
    border-radius: 100px;
    color:#fff;
    font-size: 16px;
    transition: 0.4s all;
}

.output , .otpt
{
    text-align: center;
    position: relative;
    
    margin:auto;
    width:auto;
    height: auto;
    font-size: 30px;
    font-weight: 900;
    color: rgb(84, 130, 230);
}
.otpt
{
    font-size: 50px;
}
.timer
{
    text-align: center;
    position: relative;
    margin:auto;
    width:auto;
    height: auto;
    font-size: 30px;
    font-weight: 900;
    color: rgb(84, 130, 230);
}
.field
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top:85%;
    height: 15vh;
    width:100%;
}
.score
{
    display: none;
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 10;
}
.score__result__area
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin:auto;
    top:35%;
    width:auto;
    height: auto;
}
.btn__again
{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width:150px;
    height: 40px;
    color:#fff;
    background-color:rgb(84, 130, 230); 
    cursor: pointer;
    border-radius: 5px;
}
@media(max-width:1400px)
{
    .otpt
    {
        font-size: 40px;
    }
}
@media(max-width:550px)
{
    .field
    {
        top:90%;
        height: 10vh;
    }
    .output
    {
        font-size: 25px;
    }
    .timer
    {
        font-size: 25px;
    }
}